.slot-machine-numbers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  --easing: cubic-bezier(0.76, 0, 0.24, 1);
  --duration: 1s;
  transition:
    width var(--duration) var(--easing),
    height var(--duration) var(--easing);
  & .dummy {
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
  }
}
