.search {
  width: 100%;
  z-index: 2;

  & > search {
    width: 100%;
    height: 3em;
    & > .combobox {
      width: 100%;
      height: 100%;
      &.loading > .searchbox > .loader-wrapper {
        opacity: 1;
      }
      & .listbox {
        & > li {
          width: 100%;
          padding: 0.5em 1em;
          &.empty-state {
            font-style: italic;
            font-size: 0.9em;
          }
          &[data-focused="true"] {
            background-color: rgba(255, 255, 255, 0.2);
          }
          &[aria-selected="true"] {
            color: #000;
            background-color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
}
