@use "Styles/Variables";

.column {
  opacity: 0;
  flex-shrink: 0;
  position: relative;
  animation: fade-in var(--duration) forwards var(--easing);
  transition:
    width var(--duration) var(--easing),
    height var(--duration) var(--easing);
  overflow: hidden;
  & > .nums {
    --delay: 0s;
    opacity: 1;
    display: flex;
    flex-direction: column;
    transition:
      opacity calc(var(--duration) * 0.75) var(--delay) var(--easing),
      translate var(--duration) var(--delay) var(--easing);
    &.animating {
      opacity: 0.65;
      transition:
        opacity calc(var(--duration) * 0.5) var(--delay) var(--easing),
        translate var(--duration) var(--delay) var(--easing);
    }
  }
}
